params {

	projectDir 	= '/home/jackmo/computer/genemap/test-sv/'
	outputDir 	= params.projectDir + 'output/'
	readsDir	= '/home/jackmo/computer/genemap/sequence-data/manta-demo/data/'

	containersDir = '/home/jackmo/computer/genemap/containers/'

	mantaDir 	= params.projectDir + 'manta-1.6.0/'
	configureManta = params.mantaDir + 'bin/configManta.py'
	samtoolsImage = params.containersDir + 'samtools_1.11.sif'

	cohortId 		= 'G15512'
	inputReadsFile 	= params.cohortId + '.HCC1954.1.COST16011_region.bam'

	referenceSequence = [
		'dir': '/home/jackmo/computer/genemap/sequence-data/manta-demo/reference/',
		'label': 'manta-demo',
		'path': '/home/jackmo/computer/genemap/sequence-data/manta-demo/reference/Homo_sapiens_assembly19.COST16011_region.fa'
	]	

	nThreadsPerProcess = 1

}

singularity {
	enabled = true
}